.holder {
  width: 1191pt;
  height: 1684pt;
  box-sizing: border-box;
  padding: 10pt;

  .headline {
    display: flex;
    margin-bottom: 90pt !important;
    margin-top: 40pt;
    .current-year{
      width: 50%;
      text-align: right;
    }
    .next-year {
      text-align: left;
    }
    .date {
      font-size: 150pt;
      font-weight: 300;
      line-height: 135pt;
    }
    .words {
      font-size: 100pt;
      font-weight: 300;
      line-height: 60pt;
    }
  }

  .headline-cyrillic {
    font-family: 'Poiret One', sans-serif;
    display: flex;
    //margin-bottom: 90pt !important;
    //margin-top: 40pt;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;

    h2 {
      font-size: 100pt;
      margin: 0;
      font-weight: 300;
      line-height: 1;
      //opacity: .5;
      text-transform: uppercase;
      order: 2;
      position: absolute;
    }
    h1 {
      margin: 0;
      //margin-left: 20px;
      //margin-top: 20px;
      font-size: 400pt;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 20px;
      color: #898989;
      opacity: .3;
      //font-family: 'Arial', sans-serif;
    }
  }
}


$gradientStart: #e9e9e9;
$gradientEnd: #ffffff;

$gradientSpringStart: rgba(189, 193, 146, 0.43);
$gradientSpringEnd: #fffff6;

$gradientWinterStart: rgba(52, 81, 94, 0.22);
$gradientWinterEnd: rgba(142, 172, 187, 0.11);

$gradientSummerStart: rgba(203, 190, 83, 0.35);
$gradientSummerEnd: rgba(255, 255, 228, 0.51);

$gradientAutumnStart: rgba(198, 105, 0, 0.22);
$gradientAutumnEnd: rgba(255, 201, 71, 0.13);

$steps: 34;

.day {
  box-sizing: border-box;
  //border: 1pt solid lightgray;
  text-align: center;
  //padding: 20px;
  //margin: 5pt;
  position: relative;

  overflow: hidden;
  //opacity: .5;

  &.current-year {
    opacity: 1;
  }

  &.day-4{
    .number {
      //font-size: 11pt;
      //font-weight: 500;
    }
  }

  &.day-6,&.day-5 {
    .number {
      color: black;
      font-weight: 600;
      //font-size: 12pt;
    }
  }

  @for $i from 0 to $steps {

    // winter
    &.month-number-1.month-day-#{$i}
    , &.month-number-2.month-day-#{$i}
    , &.month-number-12.month-day-#{$i} {
      background: mix($gradientWinterEnd, $gradientWinterStart, percentage($i / ($steps - 1)));
    }

    // spring
    &.month-number-3.month-day-#{$i}
    , &.month-number-4.month-day-#{$i}
    , &.month-number-5.month-day-#{$i} {
      background: mix($gradientSpringEnd, $gradientSpringStart, percentage($i / ($steps - 1)));
    }

    // summer
    &.month-number-6.month-day-#{$i}
    , &.month-number-7.month-day-#{$i}
    , &.month-number-8.month-day-#{$i} {
      background: mix($gradientSummerEnd, $gradientSummerStart, percentage($i / ($steps - 1)));
    }

    // autumn
    &.month-number-9.month-day-#{$i}
    , &.month-number-10.month-day-#{$i}
    , &.month-number-11.month-day-#{$i} {
      background: mix($gradientAutumnEnd, $gradientAutumnStart, percentage($i / ($steps - 1)));
    }

    //&.month-day-#{$i} {
    //  background: mix($gradientEnd, $gradientStart, percentage($i / ($steps - 1)));
    //}
  }

  &.month-day-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //border-top-left-radius: 10px;
  }

  $offset: 5pt;

  .number {
    position: absolute;
    right: $offset;
    top: $offset;
    color: #5b5c5b;
    font-size: 10pt;
    font-weight: 400;
  }

  .month-name {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 36pt;
    line-height:1;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: -3px;
  }

  .month-full-name {
    color: #636363;
    margin: 0;
    font-weight: 400;
    font-size: 9pt;
  }

  .weekday-name {
    left: -5pt;
    color: #0000009e;
    margin: 0;
    font-size: 22pt;
    line-height: 20pt;
    font-weight: 500;
  }

  .weekday-full-name {
    color: #636363;
    margin: 0;
    font-weight: 100;
    font-size: 9pt;
  }
}
