/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,400,500,600,700,800,900');

body {
  width: (594*2)pt;
  height: (841*2)pt;
  background: white;
  font-family: 'Nunito', sans-serif;
  //font-family: 'Poppins', sans-serif;
  //font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  background: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
